<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css"></link>
    <link rel="stylesheet" href="/assets/css/navbar.css"></link>
    $CSS_LINK
    <title>$TAB_TITLE</title>
</head>
<body>

    <header>

        <nav>
            <ul>
                <a href="/"><img id = "logo" src = "assets/images/learn.jpg"></a>
                <li><a href="/intro"><p>Intro</p></a></li>
                <li><a href="/first"><p>First Server</p></a></li>
                <li><a href="/second"><p>Serving HTML</p></a></li>
                <li><a href="/third"><p>Time</p></a></li>
                <li><a href="/fourth"><p>Export/Import</p></a></li>
                <li><a href="/fifth"><p>Server vs Client</p></a></li>
                <li><a href="/sixth"><p>SSR</p></a></li>
            </ul>
        </nav>

    </header>

    <main>