<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <title>$TAB_TITLE</title>
</head>
<body>

    <header>  
        <nav>
            <div class="navbtns">
                <a href="/"><img id = "logo" src = "assets/images/learn.jpg"></a>
                <button class="btn"><a href="/intro"><p>Intro</p></a></button>
                <button class="btn"><a href="/first"><p>First Server</p></a></button>
                <button class="btn"><a href="/second"><p>Serving HTML</p></a></button>
                <button class="btn"><a href="/third"><p>Time</p></a></button>
                <button class="btn"><a href="/fourth"><p>Export/Import</p></a></button>
                <button class="btn"><a href="/fifth"><p>Server vs Client</p></a></button>
                <button class="btn"><a href="/sixth"><p>SSR</p></a></button>
            </div>
        </nav>
    </header>

    <main>