<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <title>$TAB_TITLE</title>
</head>
<body>

    <header>

        <div class="navContainer">
            <a href="/"><img id = "logo" src = "assets/images/learn.jpg"></a>
            <div class="navbtn">
                <a href="/intro" class="btn btnClick">Intro</a>
                <a href="/first" class="btn btnClick">First Server</a>
                <a href="/second" class="btn btnClick">Serving HTML</a>
                <a href="/third" class="btn btnClick">Time</a>
                <a href="/fourth" class="btn btnClick">Export/Import</a>
                <a href="/fifth" class="btn btnClick">Server vs Client</a>
                <a href="/sixth" class="btn btnClick">SSR</a>
            </div>
        </div>

        <!--    
        <nav>
            <ul>
                <a href="/"><img id = "logo" src = "assets/images/learn.jpg"></a>
                <li><a href="/intro"><p>Intro</p></a></li>
                <li><a href="/first"><p>First Server</p></a></li>
                <li><a href="/second"><p>Serving HTML</p></a></li>
                <li><a href="/third"><p>Time</p></a></li>
                <li><a href="/fourth"><p>Export/Import</p></a></li>
                <li><a href="/fifth"><p>Server vs Client</p></a></li>
                <li><a href="/sixth"><p>SSR</p></a></li>
            </ul>
        </nav>
        -->

    </header>

    <main>