@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* Global css */

:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --header-height: 1px;
  --footer-height: 1px;
}

* {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

.gridContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-gap: 0.1rem;
}

/* Global css */

main {
  min-height: calc(100vh - (var(--footer-height) + var(--header-height))); /* vh står for Viewer Height */
}

.bodyTextTitle {
  font-size: 1.5em;
  text-align: center;
}

.bodyText {
  font-size: 1em;
  padding: 1em 10em;
}

.bodyCode {
  font-size: 1.3em;
  margin-left: 10em;
}

@media only screen and (max-width: 550px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "footer";
  }
}

 /* Images. */

.installNode, .CRUDimage, .VariablesDataType, .callBack, .MFR,
.static, .render, .render2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

.callBack, .packageJSON, .sendingDataGET, .fetch, .time,
.countdown, .importExport, .typeModule, .structuring {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}