
#logo {
  max-width: 7em;
}

.navbtns {
list-style-type: none;
margin: 0;
padding: 1em;
overflow: hidden;
}
  
.btn {
text-align: space-between;
padding: 0 2em;
float: right;
border: none;
}

.btn a {
font-size: 1.9em;
color: azure;
text-decoration: none;
}

.btn a:hover {
color: orangered;
}
