
#logo {
  max-width: 7em; /* em er så den er relativ og retter sig efter skærm */
}

.navbtns {
list-style-type: none;
margin: 0;
padding: 1em;
overflow: hidden;
}
  
.btn {
text-align: space-between;
padding: 0 2em;
float: right;
}

.btn a, p {
font-size: 1.4em;
color: white;
text-decoration: none;
}
